.top{
    font-family: "Nuniro",sans-serif;
    text-align: center;
    font-size: 24px;
}

.list{
    font-family: "Nuniro",sans-serif;
    margin-left: 15px;
}

.info{
    font-family: "Nuniro",sans-serif;
    text-align: right;
    margin-right: 2cm;
    font-size: 18px;
}

